*{
	font-family: Sans-serif;
	

}
.main-container {
	background-color: #f0f3f5;
}

.nav-bar{
	background-color:  #394057;
	overflow: hidden;
	height: 50px;
}

.nav-bar a {
	float: left;
	color: #989c99;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	font-size: 17px;

}
.nav-bar-item a:hover {
	background-color: #235378;
	color: white;
}
.nav-bar a.active {
	border-bottom: 10px solid white;	

}
.nav-bar-item {
	float: right;
	text-align: center;

}
.nav-bar-item a img{
	float: right;
	padding-right: 20px;
	padding-left: 20px;
	height: 30px;
	width: 30px;
	

}
.nav-bar-logo a img{
	padding-left: 80px;
	height: 35px;
	width: 35px;

}
.nav-bar-search a input{
	padding-top: 8px;
	padding-right: 50px;
	padding-bottom: 7px

} 

.sidebar{
	width: 12%;
	height: auto;
	border: 1px;
	background-color: #f0f3f5;

	
	margin: 0 auto;
	background: white;
	
	padding-top: 10px;
	padding-left: 220px;
	
	float: left;
	
}
.container{

	width: 40%;
	height: auto;
	border: 1px;
	border-color: black;
	margin: 0 auto;
	background: white;
	padding: 20px 20px 0;
	padding-top: 10px;
	border-radius: 5px;
}
.right-bar{
	background-color: black;
	width: 12%;
	height: auto;
	border: 1px;
	margin: 0 auto;
	background: white;	
	padding-top: 10px;
	padding-right: 220px;
	float: right;
	
}
.post-image img {

	align-content: center;
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding-top: 5px;
	padding-right: 1px;
	padding-left: 1px;
	margin-bottom: 5px;
	
}
.post-top{
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  height: 70px;
}
}
.post-top a{
	padding-top: 10px;
	float: top;
	text-align: left;
	

}
.post-top img{
	
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 5px;
	height: 55px;
	width: 55px;
}
.post-top a h5{
	padding-right: 100px;
	padding-top: 10px
	padding-bottom: 10px;
}
.post-top span{
	opacity: 70%;
    font-size: 11px;
}
p{
 	font-size: 14px;
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
}

.profile{
	width: 100%;
	height: 500px;
	border: 1px;
	border-style: solid;
	border-color: black;
	margin: 0 auto;
	background: white;
	border-radius: 5px;
	float: right;
	
	
}
.sidebar{
	background-color: #f0f3f5;
}
.sidebar h4{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;

}
.sidebar h4 span{
	font-size: 12px;
	opacity: 50px;
}
.sidepic{
	background-image: url('https://www.developmentaid.org/api/frontend/cms/file/2019/11/digital-technologies.jpg');
	background-size: cover;
}
.sidepic img{
	object-position: center;
	height: 70px;
	width: 70px;
	padding-left: 63px;

}


.sideProfile a{
	font-size: 12px;
	color: black;
}
.sideProfile {
	border-top: solid;
    border-bottom: solid;
    border-width: 1px;

}
.news{
	float: right;
	width: 100%;
	border-style: solid;
	border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px
    padding-left:10px;
}
.news a{
	color: black;
	padding-left: 10px;
	padding-right: 10px;
}

.add{
	height:80px;
	width: 80px;
}